{% trans_default_domain 'userprofile' %}

{# Блок кнопок #}
<div class="position-sticky d-flex flex-column flex-shrink-0 w-100 bg-body " style="bottom: 0;">
	<hr>
	
	<div class="d-flex pb-5">

		<div class="flex-grow-1">
			&nbsp;
		</div>

		<div class="d-flex gap-3">

				<a href="{{ app.request.headers.get('referer') is null or app.request.uri == app.request.headers.get('referer') ?
				path('UserProfile:admin.userprofile.index') : app.request.headers.get('referer') }}"
						class="btn btn-light me-5">
					{{ 'btn.cancel'|trans({}, 'core.btn') }}
				</a>

				{{ form_row(form.Save, { label: '
				<span class="indicator-label">'~ 'btn.save'|trans({}, 'core.btn') ~'</span>
				<span class="indicator-progress">
					<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
				</span>
			'}) }}
			</div>
		</div>
	</div>
</div>