<div class="card-body pt-0">
	
	{{ form_row(form.info.usr, {  label : 'form.info.user.label'|trans, placeholder: 'form.info.user.placeholder'|trans  }) }}
	
	<div class="w-100 d-flex justify-content-between pb-5">
		<div class="w-100">
			<div class="invisible bg-danger bg-warning bg-primary"></div>
			<div class="rounded-circle w-15px h-15px bg-light position-absolute end-0 me-15"
					id="profile_status_circle">
			</div>
			{{ form_row(form.info.status, { label: 'form.info.status.label'|trans({}, 'user.userprofile') }) }}
		</div>
	</div>
</div>