{% trans_default_domain 'userprofile' %}


<div class="card-body text-center pt-0">
	
	<div class="image-input image-input-circle mb-3" data-kt-image-input="true" style="">
		
		{% set img_path = form.avatar.vars.data.cdn is defined and form.avatar.vars.data.cdn == true ? CDN_HOST : '' %}
		
		
		<div class="image-input-wrapper w-150px h-150px lazy"
				data-bg="{{ form.avatar.vars.data.name is defined and form.avatar.vars.data.name is not null ?
				img_path ~ profile_avatar_dir ~ form.avatar.vars.data.dir ~'/'~ form.avatar.vars.data.name~'.'~form.avatar.vars.data.ext  : '/assets/img/blank.svg' }}"
		>
		</div>
		
		<label class="btn btn-icon position-absolute top-0 start-100 translate-middle p-2 border w-25px h-25px bg-body border-light rounded-circle shadow"
				data-kt-image-input-action="change">
			
			<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"
					fill="currentColor"
					class="bi bi-pen-fill position-absolute" viewBox="0 0 16 16">
				<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z" />
			</svg>
			
			{{ form_row(form.avatar.file, { 'attr'  : { 'class' : 'd-none' } }) }}
			
			<input type="hidden" name="avatar_remove" value="0">
		
		</label>
	</div>
	
	<div class="text-muted fs-7">
		{# Принимаются только файлы изображений .png, .jpg и .jpeg #}
		<small>{{ 'images'|trans({}, 'core') }}</small>
	</div>

</div>
