{% trans_default_domain 'userprofile' %}

{% set section = null %}

{% for value in form.value %}
	
	
	{% if section != value.vars.data.section %}
		{% set section = value.vars.data.section %}
		
		{# Закрываем секцию, eсли она не первая в цикле #}
		{% if loop.first != true %}
			</div></div>
		{% endif %}
		
		
		{# Открываем новую секцию #}
		<div class="card card-flush">
		
		<div class="card-header">
			<div class="card-title">
				<h2>
					{# Название секции #}
					{{ value.vars.data.sectionName }}
				</h2>
			</div>
		</div>
		
		<div class="card-body pt-0">
	
	{% endif %}
	
	{# РЕНДЕР ПОЛЕЙ #}
	{#{{ render_field(value.vars.data.type, value.value) }}#}
	
	{{ form_row(value) }}
	
	
	{# Закрываем секцию, eсли цикл последний #}
	{% if loop.last %}</div></div>{% endif %}

{% endfor %}