{# ПЕЧАТЬ #}
<div class="d-none d-print-block">
    <div style="width: 5cm; margin-left: 0.7cm;">
        <div class="text-center w-100">
            <img src="data:image/svg+xml;base64,{{ sticker }}"
                 style="height: 3cm; padding-top: 0;"
                 alt="sticker"/>
        </div>
    </div>
</div>
